	<% include ../partials/header %>


	<div style="width: 30%; margin: 35px auto">
	<div class="container">
	<h1>Add new commment to <%=ground.name %></h1>
	<form method="POST" action="/grounds/<%=ground._id %>/comments">
	  <div class="form-group">
	    <label for="name">Author</label>
	    <input type="text" class="form-control" id="author" placeholder="Enter author" name="author">
	  </div>
	  <div class="form-group">
	    <label for="description">Text:</label>
	    <input type="text" class="form-control" id="text" name="text" placeholder="text">
	  </div>
	  <button type="submit" class="btn btn-primary btn-block">Submit</button>
	</form>
	</div>

	</div>
	<% include ../partials/footer %>