
		<form method="POST" action="/grounds/<%=ground._id %>/comments" class="rounded" id="newForm">
			<div class="form-group">
			  <label for="description">Text:</label>
			  <input type="text" class="form-control" id="text" name="comment[text]" placeholder="text">
			</div>
			<button type="submit" class="btn btn-secondary">Add comment</button>
		</form>
